# Unity 缓存与生成目录
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Uu]serData/
MemoryCaptures/

# 崩溃/分析
sysinfo.txt
*.stackdump

# IDE 生成文件
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
_ps_backup_20260904/
.bak*
